* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Page wrapper */
.page-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #90c4ae;
    background-image: radial-gradient(#90c4ae ,  #73bb9d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.page-wrapper > div {
    width: 100%;
    overflow: auto;
}

/* Content */
.content {
    margin: 0 auto;
    width: 95%;
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    background-color: #ffffff;
}

h2 {
    padding-top: 1rem;
}

/* JS output container */
ul {
    list-style: none;
    font-weight: 700;
    font-size: 1.25rem;
}

#completed-list {
    color: #888888;
}

.alert-message {
    font-size: 1.25rem;
    margin-top: 1rem;
}

.completed {
    color: #888888;
}

/* JS output */
li {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.add-to-list {
    position: relative;
}

.add-to-list input {
    flex-basis: calc(100% - 1.5rem);
    font-size: 1.1rem;
    appearance: none;
    border: 0px;
}

.add-to-list input.error , .add-to-list input.error:focus{
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}

.add-to-list input::placeholder {
    color: #000000;
}

.add-to-list input.error::placeholder {
    color: #ff0000;
}

.add-to-list input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.error-message {
    position: absolute;
    right: 2.5%;
    bottom: -5%;
    z-index: 5;
    font-size: .75rem;
    line-height: 1;
    background-color: #ffffff;
    color: #ff0000;
}

.task-indicator {
    font-size: 1.1rem;
    padding-right: .5rem;
}

.task-text {
    overflow: hidden;
    max-width: calc(100% - 6.5rem);
}

ul.completed span {
    text-decoration: line-through;
}

.options-container {
    display: flex;
    gap: .5rem;
    margin-left: auto;
}

.option {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: .25rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.completed .option {
    color: #888888;
    border-color: #888888;
}

li .option:active {
    background-color: #000000;
    color: #ffffff;
}

ul.completed .option:active {
    background-color: #888888;
    color: #ffffff;
}