<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's do it!</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <!-- Page wrapper -->
    <div id="app" class="page-wrapper">
        <div>
            <!-- Content -->
            <div class="content">
                <h1>
                    La tua lista delle cose da fare
                </h1>

                <!-- To-do list -->
                <div>
                    <h2>
                        Da fare
                    </h2>
                    <ul id="to-do-list" v-if="getTodoList.length">
                        <li v-for="item in getTodoList">
                            <span>{{ item.task }}</span>
                            <div>
                                <button class="list-option in-cart" @click="changeStatusOfTask(item)"><i class="fa-solid fa-check"></i></button>
                                <button class="list-option delete" @click="deleteTask(item)"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </li>
                    </ul>
                    <p class="alert-message" v-else-if="getCompletedList.length">
                        Hai completato tutto quello che dovevi fare!
                    </p>
                    <p class="alert-message" v-else>
                        Aggiungi qualcosa da fare per iniziare!
                    </p>
                </div>

                <!-- Completed list -->
                <div v-show="getTodoList.length || getCompletedList.length">
                    <h2>
                        Completate
                    </h2>
                    <ul class="completed" v-if="getCompletedList.length">
                        <li v-for="item in getCompletedList">
                            <span>{{ item.task }}</span>
                            <div>
                                <button class="list-option in-cart" @click="changeStatusOfTask(item , false)"><i class="fa-solid fa-x"></i></button>
                                <button class="list-option delete" @click="deleteTask(item)"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </li>
                    </ul>
                    <p class="alert-message completed" v-else>
                        Non hai ancora completato alcuna cosa da fare!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>